<h1>Search Results</h1>

<h3>Search results: <%= @num_result %></h3>

<% @foods.each do |food| %>
  <div class="food" id="food-<%= food.gtin_upc_code %>">
    <h5><%= food.description %></h5><br>
    <%= food.brand_owner %><br>
    <%= food.gtin_upc_code %><br>
    <%= food.ingredients %><br>
  </div>
  <% end %>