<h1>Search Results</h1>

<h3>Search results: <%= @num_result %></h3>

<% @foods.each do |food| %>
  <%= Brand onwer: #{food.brand_owner} %>
  <%= Description: #{food.description} %>
  <%= GTIN/UPC code: #{food.gtin_upc_code} %>
  <%= Ingredients: #{food.ingredients} %>
<% end %>